<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/buscar.css">
    <script>
        var endpoint = ":endpoint:"; //Se establece en el servidor antes de devolver este archivo estatico
        //var endpoint = "http://indesan.org:2001/"; // para forzar que sea el servidor remoto
    
        var token = ":token:";
    
        //console.log(endpoint)
    </script>
</head>
<body>
  -->
<div class="zonaConsulta">
    <h1>Consultar colecciones</h1>
    Coleccion: <input type="text" id="coleccion" value="">
    <input type="submit" value="Consultar" onclick="query()">
    <fieldset id = "langs">
          
            <input type="radio"  name="lang" value="es" id = "es" >Español
            <input type="radio"  name="lang" value="fr" id = "fr" >Francés
            <input type="radio"  name="lang" value="en" id = "en">Inglés

    </fieldset>  

    
  
     <input type="checkbox" value="true" id = "mostrar" >Activar Colección

   
    
</div> 


<div id = "resultado" >


</div >

<div id="navigation" class = "invisible" >
    <div id="btnContainer">
        <a href="#" class="btnNav" onclick = "deleteColeccion()">Eliminar</a>
        <a href="#" class="btnNav" onclick = "updateColeccion()">Actualizar</a>
    </div>

</div>

<div id = "addCollection" class = "invisible">
    <h2>Añadir Coleccion Nueva</h2>
    Coleccion:  <input type="text" id="nuevaColeccion" value="">  
    Imagen: <input type="text" id="nuevoThumb" value="">  
    <br>
    Español: <input type="text" id="es_caption" value="" > 
    <br>
    Francés: <input type="text" id="fr_caption" value="" > 
    <br>
    Inglés: <input type="text" id="en_caption" value="" > 
    <br>
    <input type="submit" value="Añadir" onclick="create()">
    <input type="submit" value="Cancelar" onclick="ocultar()">

</div>
<!-- <script src="../scripts/buscar.js"></script>
</body>



</html> -->