
    <script>
        var redirect  = ":redirect:" 
    </script>
    <div id = "container_login">
        <h1>Identifícate</h1>
        <div class= "login_field"><span class="lbl_login">email: </span> <input type="text" id  = "txtEmail_login"> </div>
        <div class= "login_field"><span class="lbl_login">password: </span> <input type="password" id  = "txtEmail_pwd"></div>
        <div class= "login_field">  <a  href="#" class = "btnNav" onclick="login_authenticate(':redirect:')">Enviar</a> </div>

        <div class= "login_field" >  <span class="lbl_login resultado" id="txt_respuesta">_</span> </div>
        
    </div>
