<div class="thumbContainer">
    <img class="thumb" src="/thumbs/:imagen:" alt=":titulo:">
    <span id="nombreImagen" class="invisible">:imagen:</span>
    <span id="_id" class="invisible">:_id:</span>
    <h1 class="__titulo">:saludo:</h1>
    </div>
    <div class="subtitulos">
     <span class="lang_cap">Español: </span>
     <input type="text" id="es_cap" value=":es_caption:" class="lang_text">
     <span class="lang_cap">Francés: </span>
     <input type="text" id="fr_cap" value=":fr_caption:" class="lang_text">
     <span class="lang_cap">Inglés: </span>
     <input type="text" id="en_cap" value=":en_caption:" class="lang_text">
    </div>