h1 {
    color: brown;
    font-size:1rem;
    
    @mixin atSmall{
        font-size:2rem;
    }
    @mixin atMedium{
        font-size:3rem;
    }
    @mixin atLarge{
        font-size:4rem;
    }
}

#container_login{
    width:30rem;
    margin:10rem auto;
    padding:3rem;
    background-color: #ddd;
}

.login_field{
    width:25em;
    margin:1em;
}
.lbl_login{
    display: inline-block;
    width:5rem;
    font-weight: bolder;
}

.resultado{
    color:brown;
    width:25em;
    font-weight: 100 !important; 
    
}
.btnNav{
    color: #fff;
    text-decoration: none;
    background-color: #999;
    padding:0.3rem;
    margin:0 1rem 0 1rem;
    transition-duration: 0.4s;
    margin-left:5.2rem;
}

.btnNav:hover{
    background-color: #fff;
    color:#222;

}